body {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: -moz-linear-gradient(0deg, rgba(189, 242, 255, 1) 65%, rgba(250, 175, 206, .4) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(189, 242, 255, 1) 65%, rgba(250, 175, 206, .4) 100%);
    background-image: linear-gradient(0deg, rgba(189, 242, 255, 1) 65%, rgba(250, 175, 206, .4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333ff", endColorstr="#e6f3e5", GradientType=1);
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.6;
}

html {
    height: 100%;
}

main {
    height: 100%;
    width: fit-content;
    /*margin: 0 auto;*/
    background-color: rgba(50, 50, 200, 1);
    /*box-shadow: 0 7px 44px 3px rgba(0, 0, 25, 30%);*/
}

#topbar {
    background-color: rgba(0, 255, 100, 1);
    position: static;
    width: 1024px;
    height: 57px;
    margin: auto;
    clear: both;
}

#communities {
    background-color: #ffa830;
    padding: 0;
    clear: both;
    width: 1024px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#breadcrumbs {
    background-color: #fffbf7;
    position: static;
    width: 1024px;
    height: 62px;
    margin: auto;
    clear: both;
}

#scriptoutput {
    background-color: #399b37;
    position: static;
    width: 1024px;
    height: 157px;
    margin: auto;
    clear: both;
}

#maincontent {
    background-color: palegoldenrod;
    position: static;
    height: 45.9vh;
    width: 1024px;
    margin: auto;
    clear: both;
    overflow-y: scroll;
    overflow-x: hidden;
}

#footerbar {
    background-color: rgba(233, 243, 255, 1);
    position: static;
    width: 1024px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
    border-radius: .1em .1em .5em .5em;
}