/* Markdown Editor */
body {
    background-color: whitesmoke;
    background: url("https://images.unsplash.com/photo-1447433819943-74a20887a81e") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 16px system-ui;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: system-ui;
}

p {
    font-size: 1.25em;
    margin-left: 23px;
}

form {
    background-color: white;
    margin: 0 auto;
    width: 865px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
