@charset "UTF-8";

body {
    background-color: whitesmoke;
    background: url("/photo-1447433819943-74a20887a81e.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.03em;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: .5em 0 0 0;
    font: 400 19px system-ui;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-size: 19px;
    line-height: normal;
}

button {
    margin: 20px 0 0 194px;
    background: #0079BB;
    color: white;
    border-style: outset;
    border-color: #0079BB;
    height: 34px;
    width: 67px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    border-radius: 4px;
}

button.abort {
    background: #e6301a;
    width: 57px;
}

h2 {
    font-size: 1.32em;
    margin-top: 2.66em;
    margin-left: 0.56em;
    margin-right: 0.56em;
    margin-bottom: 1.49em;
    /*margin-block-start: 0.63em;*/
    /*margin-block-end: -0.13em;*/
}

p {
    font-size: 1.03em;
    margin-left: 29px;
    margin-right: 23px;
}

label.checkbox {
    margin-left: 23px;
}

label.radio {
    margin-left: 41px;
    margin-right: 41px;
}

label.dropdown {
    line-height: 5.9;
    margin-left: 29px;
    margin-right: 23px;
}

form {
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;
    width: 865px;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-bottom: 1.2em;
    padding-top: 0.2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a:link, a:visited {
    background-color: #f436c9ab;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

a:hover, a:active {
    background-color: red;
}
