@charset "UTF-8";

body {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/goldenfade.jpg");
    background-color: whitesmoke;
    background-attachment: fixed;
    left: 0px;
    top: 0px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: .5em 0 0 0;
    font: 400 19px system-ui;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-size: 1.1em;
    line-height: normal;
}

button {
    margin: 34px 0 0 382px;
    background: #0079BB;
    color: white;
    border-style: outset;
    border-color: #0079BB;
    height: 34px;
    width: 67px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    border-radius: 4px;
}

h2 {
    font-size: 1.6em;
    margin: 1.86em 0.56em 0.79em;
    /*margin-block-start: 0.63em;*/
    /*margin-block-end: -0.13em;*/
}

p {
    font-size: 1.1em;
    margin: 1.34em 23px 1.34em 29px;
}

label.checkbox {
    display: block;
    margin-left: 41px;
    margin-right: 41px;
}

label.radio {
    display: block;
    margin-left: 41px;
    margin-right: 41px;
}

label.dropdown {
    line-height: 5.9;
    margin-left: 29px;
    margin-right: 23px;
}

form {
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;
    width: 56em;
    padding: 0.2em 1.8em 1.2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: relative;
    top: 45px;
}

/* unvisited link */
/*a:link {*/
/*    color: red;*/
/*    padding: 4px 14px;*/
/*}*/

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a:link, a:visited {
    background-color: #f436c9;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 14px;
    border-radius: 4px;
}

a:hover, a:active {
    background-color: red;
}

a.save:hover, a.save:active {
    background-color: goldenrod;
}

a.modify:hover, a.modify:active {
    background-color: darkcyan;
}

a.abort {
    margin-left: 252px;
    opacity: 0.35;
    cursor: pointer;
}

a.modify {
    background-color: #21558b;
    margin-left: 12px;
    opacity: 1;
    cursor: pointer;
}

a.save {
    background-color: #218b55;
    margin-left: 252px;
    opacity: 1;
    cursor: pointer;
}

a.no-frills-link:link, a.no-frills-link:visited, a.no-frills-link:hover, a.no-frills-link:active {
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 0;
}

a.no-frills-link:link, a.no-frills-link:visited {
    color: blue;
}

a.no-frills-link:hover, a.no-frills-link:active {
    color: rebeccapurple;
}

.choose:link, .choose:visited {
    display: block;
    margin-bottom: 7px;
    margin-left: 51px;
    margin-right: 22px;
    -moz-box-shadow: inset 21px 0px 19px -20px #bee2f9;
    -webkit-box-shadow: inset 21px 0px 19px -20px #bee2f9;
    box-shadow: inset 21px 0px 19px -20px #bee2f9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background: -moz-linear-gradient(top left, blue, rgba(0, 0, 255, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color: #63b8ee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 0px;
    /*display: inline-block;*/
    color: #14396a;
    font-family: Arial, serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    height: 36px;
    line-height: 36px;
    width: max-content;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 0 #7cacde;
}

.choose:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background: -moz-linear-gradient(top left, blue, rgba(0, 0, 255, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color: #468ccf;
}

.choose:active {
    position: relative;
    top: 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}