@charset "UTF-8";

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('/droid-sans-mono-fontfacekit/web fonts/droidsansmono_regular_macroman/DroidSansMono-webfont.eot');
    src: url('/droid-sans-mono-fontfacekit/web fonts/droidsansmono_regular_macroman/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('/droid-sans-mono-fontfacekit/web fonts/droidsansmono_regular_macroman/DroidSansMono-webfont.woff') format('woff'),
    url('/droid-sans-mono-fontfacekit/web fonts/droidsansmono_regular_macroman/DroidSansMono-webfont.ttf') format('truetype'),
    url('/droid-sans-mono-fontfacekit/web fonts/droidsansmono_regular_macroman/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_italic_macroman/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/roboto-fontfacekit/web fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
    src: url('/roboto-fontfacekit/web fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/roboto-fontfacekit/web fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff'),
    url('/roboto-fontfacekit/web fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.ttf') format('truetype'),
    url('/roboto-fontfacekit/web fonts/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

body {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #e6f3e5;*/
    /*background-image: url("/goldenfade.jpg");*/
    background-attachment: fixed;
    /*background: rgb(51, 51, 255);*/
    /*background: -moz-linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);*/
    /*background: -webkit-linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);*/
    /*background: linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333ff", endColorstr="#e6f3e5", GradientType=1);*/
    background-image: -moz-linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);
    background-image: linear-gradient(0deg, rgba(51, 51, 255, 1) 20%, rgba(230, 243, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3333ff", endColorstr="#e6f3e5", GradientType=1);
    margin: 0;
    left: 0;
    top: 0;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.6;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    opacity: 1;
    /* opacity: 0.43; */
    position: static;
    display: block;
    margin: auto;
    clear: both;
    color: #5a5a5a;
    cursor: pointer;
    padding: 5px 21px;
    width: 1024px;
    border: none;
    text-align: left;
    outline: none;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 1.07em;
    line-height: 1.6em;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1.07em;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 1px 0 1px 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#maincontent img {
    max-width: 847px;
    margin-top: 19px;
    margin-bottom: 26px;
}

img.photo {
    max-width: 847px;
    display: block;
    margin: 50px auto;
    padding: 17px 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
    margin-top: 54px;
    margin-bottom: 60px;
    text-align: center;
}

figcaption {
    margin-top: -7px;
}

a {
    text-decoration-line: none;
    color: #4d0066;
    font-weight: bolder;
}

a:hover {
    color: #241819;
}

a:active {
    color: seagreen;
}

a.cross {
    background-color: #f6ba35;
    opacity: 1;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 6px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a.cross:hover, a.cross:active {
    background-color: goldenrod;
}

a.clearbtn:link, a.clearbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/blueclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    font-size: 0.88em;
    font-weight: normal;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.clearbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/magentaclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.clearbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/blackclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.orangebtn:link, a.orangebtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/orangeclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    font-size: 0.88em;
    font-weight: normal;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.orangebtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/yellowclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.orangebtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/greyclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.purplebtn:link, a.purplebtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/purpleclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    font-size: 0.88em;
    font-weight: normal;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.purplebtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/magentaclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.purplebtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/seafoamclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.blackbtn:link, a.blackbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/blackclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    font-size: 0.88em;
    font-weight: normal;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.blackbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/greyclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.blackbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/oceanclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.greenbtn:link, a.greenbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/seafoamclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    font-size: 0.88em;
    font-weight: normal;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.greenbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/redclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.greenbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/hotpinkclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

code {
    color: #0a4f9f;
    text-transform: none;
    letter-spacing: normal;
    padding: 0 0.3ex;
    font-family: Consolas, "Droid Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
}

pre code {
    border-left-style: ridge;
    border-left-color: #e3e3e3;
    font-size: .8em;
    color: #00000b;
    line-height: 1.6em;
    display: block;
    margin: 35px 28px 27px 91px;
    white-space: pre;
    padding: 16px 4px 16px 8px;
}

p {
    color: #000000;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 1.1em;
    letter-spacing: .024em;
    margin-left: 23px;
    margin-right: 23px;
}

#footerbar p {
    margin: 11px;
    color: #d6eaf9;
}

#scriptoutput p {
    margin: 9px;
}

#breadcrumbs p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#topbar p {
    font-size: 1.1em;
}

#maincontent p {
    line-height: 1.6em;
    font-size: 1.1em;
    font-weight: normal;
    margin: 1.58em 87px -0.28em 91px;
    font-variant-numeric: lining-nums;
}

#maincontent ol, ul {
    margin-left: 85px;
    margin-right: 87px;
    margin-bottom: 2.5em;
}

#maincontent h2 {
    font-family: inherit;
    font-size: 1.6em;
    font-weight: normal;
    color: #000000;
    line-height: 150%;
    margin-left: 36px;
    margin-right: 58px;
    margin-top: 62px;
}

#maincontent h2.topofpage {
    margin-top: 5px;
}

b, strong {
    color: #000000;
}

i, em {
    font-style: italic;
    font-weight: 300;
    color: #4471b0;
}

#maincontent hr {
    margin-top: 2.1em;
    margin-bottom: 2.2em;
}

#maincontent h1 {
    text-align: center;
    font-family: inherit;
    font-weight: normal;
    color: #252521;
    font-size: 2.6em;
    line-height: 130%;
    margin: 45px 58px 19px 24px;
}

#maincontent h3 {
    font-family: inherit;
    font-size: 1.4em;
    font-weight: normal;
    color: #141406;
    line-height: 150%;
    margin: 46px 58px -11px 60px;
}

#maincontent blockquote {
    background: #f9f9f9;
    margin: 2.3em 91px;
    border-left: 10px solid #ccc;
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 10px 20px;
    line-height: 1.6;
}

#maincontent blockquote p {
    margin-left: 2.2em;
    margin-right: 2.2em;
}

#maincontent blockquote:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}

#maincontent footer {
    margin: 0;
    text-align: right;
    font-size: 1.1em;
    font-style: italic;
}

#maincontent li {
    line-height: 1.6em;
    font-size: 1.1em;
    margin-top: .1em;
    margin-bottom: .53em;
}

select, input {
    font-size: 0.875em;
}

table.not_there {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border: 0 gray;
    padding: 0;
    margin: 29px 1px 27px 91px;
}

table {
    line-height: 1.6em;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: .024em;
    max-width: 900px;
    border-collapse: collapse;
    border: 1px solid #c9c9c9;
    margin: 37px 1px 27px 91px;
}

th {
    background-color: #ddd;
    color: #4c4c4c;
    padding: 12px 12px;
    text-align: left;
}

td {
    vertical-align: top;
    padding: 12px 12px;
}

tr {
    border-bottom: 1px solid #c9c9c9;
}

fieldset {
    border: none;
    margin-left: 50px;
    padding: 1px 0;
}

fieldset p {
    margin: 0.5em 0 0.5em 30px;
}

legend {
    font-variant: small-caps;
    font-size: 1.1em;
}

h2 {
    margin: 0.5em 0 0.65em;
}

h2 + p {
    margin: 0 0 0 40px;
}

#topbar {
    background-color: rgba(255, 255, 255, 1);
    position: static;
    width: 1024px;
    height: 57px;
    margin: auto;
    clear: both;
}

#communities {
    opacity: 1;
    z-index: 3;
    background-color: #ffa830;
    padding: 0;
    clear: both;
    width: 1024px;

    /* To center the div
        Trick from: https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#breadcrumbs {
    line-height: 1;
    opacity: 1;
    /* opacity: 0.7; */
    background-color: #fffbf7;
    position: static;
    width: 1024px;
    height: 62px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

#scriptoutput {

    /* opacity is determined by 4th parameter of background */
    background: rgba(255, 255, 255, 1);

    position: static;
    width: 1024px;
    height: 157px;
    margin: auto;
    clear: both;
}

#maincontent {
    background-color: white;
    position: static;
    height: 65.26vh;
    width: 1024px;
    padding: 13px 0 83px 0;
    margin: auto;
    clear: both;
    overflow-y: scroll;
    overflow-x: hidden;
}

#footerbar {
    /* Opacity is the 4th parameter in background-color */
    background-color: rgba(33, 33, 238, 1);
    /* opacity: 0.86; */
    position: static;
    width: 1024px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

#sendmessage {
    opacity: 1;
    /* opacity: 0.64; */
    background-color: #009965;
    width: 258px;
    height: 57px;
    margin: auto;
    float: left;
}

#scriptmessage {
    background-color: rgba(233, 243, 255, 1);
    width: 891px;
    height: 157px;
    margin: auto;
    float: left;
}

#leftsodiv {
    background: rgba(255, 255, 255, 0.01);
    width: 132px;
    height: 157px;
    margin: auto;
    float: left;
}

#adminsysmsgblock {
    opacity: 1;
    background-color: #fbfcf9;
    width: 1024px;
    height: 185px;
    margin: auto;
    float: left;
}

#sendtoauthor {
    background-color: #d9b039;
    opacity: 1;
    /* opacity: 0.94; */
    float: left;
    width: 132px;
    height: 48px;
    margin: auto;
}

#show_poof {
    background-color: #d9b039;
    opacity: 1;
    /* opacity: 0.45; */
    float: left;
    width: 132px;
    height: 48px;
    margin: auto;
}

#admindiv {
    background-color: rgba(230, 240, 225, 1);
    /* opacity: 0.97; */
    float: left;
    width: 108px;
    height: 85px;
    padding: 12px;
}

#inboxlink {
    opacity: 1;
    /* opacity: 0.65; */
    background-color: lightslategray;
    width: 235px;
    height: 57px;
    margin: auto;
    float: left;
}

#logindiv {
    opacity: 1;
    /* opacity: 0.68; */
    background-color: #ffa830;
    width: 277px;
    height: 57px;
    margin: auto;
    float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}