@charset "UTF-8";

body {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/golden.jpg");
    /*background-color: whitesmoke;*/
    background-attachment: fixed;
    left: 0px;
    top: 0px;
    color: black;
    font-family: Palatino, "Palatino Linotype", "URW Palladio L", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 1.45;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    opacity: 0.55;
    position: static;
    display: block;
    margin: auto;
    clear: both;
    background-color: #fce6ff;
    color: #444;
    cursor: pointer;
    padding: 14px 21px;
    width: 931px;
    border: none;
    text-align: left;
    outline: none;
    font-family: Palatino, "Palatino Linotype", "URW Palladio L", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-size: 1.17em;
    line-height: 1.45em;
    font-weight: bolder;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

img.photo {
    max-width: 733px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
    text-align: center;
}

figcaption {
    margin-top: -28px;
}

a {
    text-decoration-line: none;
    color: #0000f7;
    font-weight: bolder;
}

a:hover {
    color: #ba330b;
}

a:active {
    color: seagreen;
}

a.clearbtn:link, a.clearbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/blueclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.clearbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/magentaclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.clearbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/blackclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.orangebtn:link, a.orangebtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/orangeclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.orangebtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/yellowclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.orangebtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/greyclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.purplebtn:link, a.purplebtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/purpleclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.purplebtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/magentaclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.purplebtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/seafoamclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.blackbtn:link, a.blackbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/blackclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.blackbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/greyclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.blackbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/oceanclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.greenbtn:link, a.greenbtn:visited {
    background: rgba(255, 105, 105, 0) url('/clear/seafoamclear.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

a.greenbtn:hover {
    background: rgba(255, 105, 105, 0) url('/clear/redclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

a.greenbtn:active {
    background: rgba(255, 105, 105, 0) url('/clear/hotpinkclear.png') no-repeat 0 0;
    background-size: 100% 100%;
}

code {
    color: #764;
    font-size: 100%;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: -0.2ex;
    padding: 0px 0.3ex;
    font-family: Consolas, "Droid Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
    hyphens: manual;
}

pre code {
    font-size: 1.17em;
    display: block;
    margin-left: 82px;
    white-space: pre;
}

p {
    line-height: 1.45em;
    font-size: 1.17em;
    margin-left: 23px;
    margin-right: 23px;
}

#topbar p {
    font-size: 1.31em;
}

#maincontent p {
    line-height: 1.45em;
    margin-left: 69px;
    margin-right: 75px;
    hyphens: auto;
    font-variant-numeric: lining-nums;
}

#maincontent ol, ul {
    font-size: 1.03em;
    margin-left: 72px;
    margin-right: 93px;
    line-height: 1.44em;
}

#maincontent h2 {
    font-family: "Bookman Old Style", "Times New Roman", serif;
    font-size: 1.75em;
    margin-left: 44px;
    margin-right: 58px;
    margin-top: 30px;
}

#maincontent h2.topofpage {
    margin-top: 5px;
}

b, strong {
    color: black;
}

#maincontent hr {
    margin-top: 2.1em;
    margin-bottom: 2.2em;
}

#maincontent h1 {
    text-align: center;
    font-family: "Bookman Old Style", "Times New Roman", serif;
    color: black;
    font-size: 2.25em;
    margin: 6px 58px 2px 24px;
}

#maincontent h3 {
    font-family: "Bookman Old Style", "Times New Roman", serif;
    font-size: 1.33em;
    margin: 46px 58px -5px 67px;
}

#maincontent blockquote {
    background: #f9f9f9;
    margin: .5em 65px;
    border-left: 10px solid #ccc;
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 10px 20px;
    line-height: 1.4;
}

#maincontent blockquote:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}

#maincontent footer {
    margin: 0;
    text-align: right;
    font-size: 1em;
    font-style: italic;
}

#maincontent li {
    line-height: 1.45em;
    font-size: 1.17em;
}

select, input {
    font-size: 0.875em;
}

table {
    max-width: 78em;
    border-collapse: collapse;
    border: 1px solid #c9c9c9;
    margin: 12px 10px 14px 70px;
}

th {
    background-color: #ddd;
    color: #555;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    vertical-align: top;
    padding: 0.25em 1em;
}

tr {
    border-bottom: 1px solid #c9c9c9;
}

tr:nth-child(even) {
    background-color: #e7edf6;
}

fieldset {
    border: none;
    margin-left: 50px;
    padding: 1px 0;
}

fieldset p {
    margin: 0.5em 0 0.5em 30px;
}

legend {
    font-variant: small-caps;
    font-size: 1.5em;
}

h2 {
    margin: 0.5em 0 0.65em;
}

h2 + p {
    margin: 0 0 0 40px;
}

#topbar {
    background-color: rgba(255, 255, 255, 0.01);
    position: static;
    width: 931px;
    height: 70px;
    margin: auto;
    clear: both;
}

#communities {
    opacity: 0.55;
    background-color: #d0883d;
    position: static;
    width: 931px;
    padding: 0;
    margin: auto;
    clear: both;
}

#breadcrumbs {
    opacity: 0.67;
    background-color: gainsboro;
    position: static;
    width: 931px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

#scriptoutput {
    background: rgba(255, 255, 255, 0.01);
    position: static;
    width: 931px;
    height: 220px;
    margin: auto;
    clear: both;
}

#maincontent {
    background-color: white;
    position: static;
    width: 931px;
    padding: 13px 0 18px 0;
    margin: auto;
    clear: both;
}

#footerbar {
    background-color: rgba(32, 178, 170, 0.42);
    opacity: 0.86;
    position: static;
    width: 931px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

#sendmessage {
    opacity: 0.51;
    background-color: #008A70;
    width: 216px;
    height: 70px;
    margin: auto;
    float: left;
}

#scriptmessage {
    background-color: rgba(233, 243, 255, 0.78);
    width: 772px;
    height: 220px;
    margin: auto;
    float: left;
}

#leftsodiv {
    background: rgba(255, 255, 255, 0.01);
    width: 158px;
    height: 220px;
    margin: auto;
    float: left;
}

#adminsysmsgblock {
    background-color: #fbfcf9;
    width: 931px;
    height: 185px;
    margin: auto;
    float: left;
}

#sendtoauthor {
    background-color: #d9b039;
    opacity: 0.94;
    float: left;
    width: 158px;
    height: 62px;
    margin: auto;
}

#show_poof {
    background-color: #d9b039;
    opacity: 0.45;
    float: left;
    width: 158px;
    height: 62px;
    margin: auto;
}

#admindiv {
    background-color: rgba(75, 145, 215, 0.34);
    opacity: 0.69;
    float: left;
    width: 110px;
    height: 109px;
    margin: auto;
    padding: 25px;
}

#inboxlink {
    opacity: 0.45;
    background-color: lightslategray;
    width: 194px;
    height: 70px;
    margin: auto;
    float: left;
}

#logindiv {
    opacity: 0.45;
    background-color: #ff9a10;
    width: 209px;
    height: 70px;
    margin: auto;
    float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}