body {
    background-color: #1c1c21;
    color: #202020;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

a {
    text-decoration-line: none;
}

p {
    font-size: 1.25em;
    margin-left: 23px;
}

#maincontent p {
    text-align: justify;
    margin-left: 62px;
    margin-right: 58px;
}

select, input {
    font-size: 0.875em;
}

table {
    max-width: 1000px;
    border-collapse: collapse;
    border: 1px solid #c9c9c9;
    margin: 0 auto 20px 50px;
}

th {
    background-color: #ddd;
    color: #555;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    vertical-align: top;
    padding: 0.25em 1em;
}

tr {
    border-bottom: 1px solid #c9c9c9;
}

tr:nth-child(even) {
    background-color: #e7edf6;
}

fieldset {
    border: none;
    margin-left: 50px;
    padding: 1px 0;
}

fieldset p {
    margin: 0.5em 0 0.5em 30px;
}

legend {
    font-variant: small-caps;
    font-size: 1.5em;
}

h2 {
    margin: 0.5em 0;
}

h2 + p {
    margin: 0 0 0 40px;
}

#topbar {
    background-color: white;
    position: relative;
    width: 865px;
    height: 70px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#adminhometop {
    background-color: white;
    position: relative;
    width: 865px;
    height: 70px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#communities {
    background-color: peru;
    position: relative;
    top: 7px;
    width: 865px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#breadcrumbs {
    background-color: gainsboro;
    position: relative;
    top: 14px;
    width: 865px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#scriptoutput {
    background-color: white;
    position: relative;
    top: 21px;
    width: 865px;
    height: 185px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#maincontent {
    background-color: white;
    position: relative;
    top: 28px;
    width: 865px;
    padding: 30px 0 28px 0;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#footerbar {
    background-color: seagreen;
    position: relative;
    top: 35px;
    width: 865px;
    margin: auto;
    border: 3px solid #0000bf;
    clear: both;
}

#sendmessage {
    background-color: mediumseagreen;
    width: 181px;
    height: 70px;
    margin: auto;
    float: left;
}

#scriptmessage {
    background-color: lightcoral;
    width: 680px;
    height: 185px;
    margin: auto;
    float: left;
}

#sendtoauthor {
    background-color: gold;
    width: 185px;
    height: 185px;
    margin: auto;
    float: left;
}

#inboxlink {
    background-color: lightslategray;
    width: 171px;
    height: 70px;
    margin: auto;
    float: left;
}

#logindiv {
    background-color: coral;
    width: 211px;
    height: 70px;
    margin: auto;
    float: left;
}